<html>
<head>
<title>Heartbleed</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<!--sidebar div as well as subdiv (issues with css)-->
<div id="sidebar"><div id="sidebarinner"><h1></h1>
<!--navigation links-->
<h4>Navigation</h4>
<ul>
<li><a href="index.html" class="sidebarlink">Home</a></li>
<li><a href="protocols.html" class="sidebarlink">OpenSSL and Heartbeat</a></li>
<li><a href="demo.html" class="sidebarlink">Heartbleed Demonstration</a></li>
</ul>

</div></div>
<!--main content div as well as subdiv-->
<div id="main"><div id="maininner">
<h1>Heartbleed Demonstration</h1>
Input: <br>
 <form method="get">
 Request: <input type="text" name="request"> <br>
 Length of request: <input type="text" name="length"> <br>
 <input type="submit">
 </form>
 Output: <br>
{{ content }}


</div></div>

</body>
</html>
